<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ferneko</td>
            <td>(16) 99134-0447 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Lucão</td>
            <td>(16) 99260-1618</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Kamada</td>
            <td>(16) 99134-9999</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Eduardo</td>
            <td>(16) 99123-9999</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Amanda</td>
            <td>(16) 99456-9999</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Washington</td>
            <td>(16) 99789-9999</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Vinícius</td>
            <td>(16) 99134-1234</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Tintin</td>
            <td>(16) 99134-5678</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Alexandre</td>
            <td>(16) 99134-9123</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Kadu</td>
            <td>(16) 99134-4655</td>
        </tr>
    </tbody>
</table>
