<div class="row">

    <div class="col-4">
    </div>

    <div class="col-4">

        <div class="card">
            <div class="card-header">
                <h1>Cadastro fornecedor</h1>
            </div>

            <div class="card-body">
                <form action="/Fornecedores/CadastroProdutos" method="post">
                    <label>Nome fornecedor</label>
                    <input type="text" name="Nome" class="form-control" />
                    </br>

                    <label>Telefone</label>
                    <input type="text" name="telefone" class="form-control" />
                    <br />

                    <label>Item fornecido</label>
                    <input type="text" name="itemFornecido" class="form-control" />
                    <br />

                    <label>Quantidade fornecida</label>
                    <input type="text" name="quantidadeFornecido" class="form-control" />
                    <br />



                    <button type="submit" class="btn btn-success">
                        Salvar fornecedor
                    </button>

                </form>
            </div>
        </div>


    </div>

    <div class="col-4">
    </div>

</div>