<div class="row">

    <div class="col-4">
    </div>

    <div class="col-4">

        <div class="card">
            <div class="card-header">
                <h1>Cadastro produto</h1>
            </div>

            <div class="card-body">
                <form action="/Produtos/CadastroProdutos" method="post">
                    <label>Nome produto</label>
                    <input type="text" name="Nome" class="form-control" />
                    </br>

                    <label>Quantidade</label>
                    <input type="text" name="valor" class="form-control" />
                    <br />

                    <label>Valor</label>
                    <input type="text" name="valor" class="form-control" />
                    <br />


                    <button type="submit" class="btn btn-success">
                        Salvar Produto
                    </button>

                </form>
            </div>
        </div>


    </div>

    <div class="col-4">
    </div>

</div>